html, body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	height: 100%;
}
html, body {
	overflow: hidden;
	height: 100%;
}
.group:after {
 	content: "";
 	display: table;
 	clear: both;
}
header {
	position: fixed;
	font-weight: 400;
	width: 100%;
	z-index: 20;
	background: #000;
	line-height: 22px;
	padding: 28px 10px 8px;
	color: white;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #2d4498;
	background: -moz-linear-gradient(45deg,  #2d4498 0%, #33c6f4 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#2d4498), color-stop(100%,#33c6f4));
	background: -webkit-linear-gradient(45deg,  #2d4498 0%,#33c6f4 100%);
	background: -o-linear-gradient(45deg,  #2d4498 0%,#33c6f4 100%);
	background: -ms-linear-gradient(45deg,  #2d4498 0%,#33c6f4 100%);
	background: linear-gradient(45deg,  #2d4498 0%,#33c6f4 100%);
}
header img {
	width: 15px;
	padding-right: 10px;
	vertical-align: middle;
	top: -1px;
	position: relative;
}
#train-schedule {
	overflow: scroll;
	height: 100%;
}
#train-schedule::-webkit-scrollbar {
	display: none;
}
.schedule-header {
	background: #fff;
	position: fixed;
	z-index: 21;
	top: 58px;
	padding-top: 10px;
	left: 15px;
	right: 15px;
}
#type {
	background: #333;
	padding: 3px 6px;
	color: white;
	border-radius: 2px;
	font-size: 0.8em;
	display: inline-block;
	margin-top: 2px;
}
.controls {
	float: right;
	position: fixed;
	top: 70px;
	right: 15px;
}
#filter {
	display: inline-block;
	margin-right: 8px;
	color: #aeaeae;
	text-transform: lowercase;
	vertical-align: middle;
	font-size: 0.95em;
	cursor: pointer;
	font-weight: 300;
}
#filter img {
	margin-left: 3px;
	margin-bottom: -1px;
	transition: all .2s;
}
#filter.active img {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);    
}
#start-over {
	text-transform: uppercase;
	font-size: 0.7em;
	padding: 6px 10px 5px;
	cursor: pointer;
	display: inline-block;
	color: #333;
	z-index: 2;
	position: relative;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#start-over:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.filter-options {
	text-align: center;
	padding: 5px 0;
	color: #999;
	font-weight: 300;
	background: #fff;
	position: fixed;
	top: 100px;
	left: 0;
	right: 0;
}
.filter-options p {
	display: inline-block;
	margin: 0 5px 0 0;
}
.filter-options form {
	display: inline-block;
}
.filter-options input {
	margin-right: 6px;
	display: inline-block;
	vertical-align: top;
}
.filter-options input:first-child + label {
	margin-right: 10px;
}
#schedule {
	padding: 70px 15px 0;
	height: 100%;
	box-sizing: border-box;
}
#schedule h1 {
	margin: 0 0 10px;
	padding: 0;
	font-weight: normal;
	font-size: 1.5em;
}
#station-select {
	overflow: scroll;
	height: 100%;
}
#station-select::-webkit-scrollbar {
	display: none;
}
#station-select h1, .direction-select h1 {
	font-size: 1.2em;
	font-weight: 300;
	margin-bottom: 15px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ddd;
	color: #666;
	padding-top: 20px;
	position: fixed;
	top: 50px;
	left: 15px;
	right: 15px;
	z-index: 10;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#station-select h2 {
	font-size: 0.8em;
	color: #999;
	font-weight: 300;
	text-transform: uppercase;
	margin: 20px 0 10px;
}
#station-select ul {
	list-style: none;
	margin: 40px 0 0;
	padding: 0 0 25px;
}
#station-select ul li {
	padding: 8px 10px;
	margin: 0 0 7px;
	color: #223375;
	background: rgba(46,95,172,0.1);
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	-webkit-tap-highlight-color: rgba(46,95,172,0.15);
}
.direction-select {
	padding-bottom: 10px;
}
.direction-select div {
	padding: 8px 10px;
	margin: 0 0 3px 15px;
	color: #223375;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
h1#name-direction {
	margin: 10px 0 0;
	color: #666;
	padding-bottom: 3px;
	border-bottom: 1px solid #ddd;
	font-weight: 300;
}
#quick-list {
	padding-top: 61px;
	border-bottom: 1px solid #ddd;
}
#quick-list p {
	float: left;
	width: 45px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 300;
	text-align: right;
	font-size: 12px;
	line-height: 1;
	color: #999;
	padding: 18px 15px 0 0;
}
#quick-list ul {
	list-style: none;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	padding: 0;
	white-space: nowrap;
}
#quick-list ul::-webkit-scrollbar { 
    display: none; 
}
#quick-list li {
	width: 80px;
	display: inline-block;
	font-size: 22px;
	font-weight: 300;
}
#data-output {
	padding-bottom: 25px;
}
#data-output ul {
	list-style: none;
	padding: 0;
}
#data-output ul li {
	width: 20%;
	float: left;
	padding-bottom: 8px;
}
@media screen and (min-width: 500px) {
	#data-output ul li {
		width: 16.6666666%;
	}
}
@media screen and (min-width: 650px) {
	#data-output ul li {
		width: 14.2857142%;
	}
}
@media screen and (min-width: 750px) {
	#data-output ul li {
		width: 12.5%;
	}
}
@media screen and (min-width: 850px) {
	#data-output ul li {
		width: 11.1111111%;
	}
}
.blue {
	color: #1378D7;
}
.red {
	color: #DE342A;
}
.grayedout {
	color: #aeaeae;
}
footer {
	color: #999;
	background: rgba(46,95,172,0.1);
	font-weight: 300;
	padding: 5px 6px;
	text-align: center;
	font-size: 0.7em;
	font-style: italic;
}
footer a {
	color: #666;
	text-decoration: none;
}